# Byte-compiled / cache files
__pycache__/
*.py[cod]

# macOS system files
.DS_Store

# Virtual environments
venv/
env/

# Database
db.sqlite3

# Django static files
/staticfiles/
/media/

# VS Code settings
.vscode/

# Render local env file
.env
