{% extends 'myapp/index.html' %}
{% block content %}

<!-- Hero Section for About -->
<section class="hero is-danger">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">About Us</h1>
            <h2 class="subtitle">A project to secure your bike with innovative motion detection technology</h2>
        </div>
    </div>
</section>

<!-- Our Mission Section -->
<section class="section">
    <div class="container">
        <h2 class="title is-3 has-text-centered">Our Mission</h2>
        <div class="columns is-vcentered">
            <div class="column is-half">
                <p>
                    At Visionary Crew, our mission is simple: to protect your bike from theft using state-of-the-art technology. The Bicycle Alarm System is designed to provide bike owners with peace of mind through immediate alerts and remote control via mobile.
                </p>
                <p>
                    We understand the value of your bike and the need for a reliable security system that works anywhere, anytime. With this in mind, we’ve created a solution that’s both effective and easy to use.
                </p>
            </div>
            <div class="column is-half">
                <figure class="image is-4by3">
                    <img src="https://github.com/Gxme117/Team_Project/blob/main/myapp/static/myapp/images/image.jpg?raw=true" alt="Our Mission">
                </figure>
            </div>
        </div>
    </div>
</section>

<!-- Our Team Section -->
<section class="section has-background-light">
    <div class="container">
        <h2 class="title is-3 has-text-centered">Meet Our Team</h2>
        <div class="columns is-multiline">
            <!-- Guillaume -->
            <div class="column is-one-fourth">
                <div class="box has-text-centered">
                    <figure class="image is-128x128 is-inline-block">
                        <img src="https://github.com/Gxme117/Team_Project/blob/main/static/images/DSC05361_jpg.jpg?raw=true" alt="Guillaume">
                    </figure>
                    <h3 class="title is-5">Guillaume</h3>
                    <p>Web specialist & Database Specialist​</p>
                    <p>"Crafting user Experience." </p>
                </div>
            </div>
            <!-- Shanya -->
            <div class="column is-one-fourth">
                <div class="box has-text-centered">
                    <figure class="image is-128x128 is-inline-block">
                        <img src="https://scontent-lhr8-2.xx.fbcdn.net/v/t1.15752-9/494329536_1190046728993954_504539469711233363_n.jpg?stp=dst-jpg_s480x480_tt6&_nc_cat=106&ccb=1-7&_nc_sid=0024fc&_nc_ohc=HDrBwgUdSfgQ7kNvwFspytK&_nc_oc=AdlyH_P_mNANVzBa8ompzM8yIP6VDtOMBebevKylpsRMPFWsS0-HT1U-tYPFZqNoXAY&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-lhr8-2.xx&oh=03_Q7cD2QHZ_dbzfH6LGYFX6tAWGVJPfoJ-b4GkmIMGq8wZ7tc0cQ&oe=68454B71" alt="Shanya">
                    </figure>
                    <h3 class="title is-5">Shanya</h3>
                    <p> Hardware and Software Engineer, Database Support & Project Manager, Tester​</p>
                </div>
            </div>
            <!-- Arwin -->
            <div class="column is-one-fourth">
                <div class="box has-text-centered">
                    <figure class="image is-128x128 is-inline-block">
                        <img src="https://github.com/Gxme117/Team_Project/blob/main/static/images/IMG-20250429-WA0004.jpg?raw=true" alt="Arwin">
                    </figure>
                    <h3 class="title is-5">Arwin</h3>
                    <p>Scrum Master, Hardware and Software Support, Design Specialists & PM Support, Tester​</p>
                </div>
            </div>
            <!-- Emilo -->
            <div class="column is-one-fourth">
                <div class="box has-text-centered">
                    <figure class="image is-128x128 is-inline-block">
                        <img src="https://github.com/Gxme117/Team_Project/blob/main/static/images/A03E5D20-5B1A-4426-B4C0-8A2B56BD18A4_4_5005_c.jpeg?raw=true" alt="Emilo">
                    </figure>
                    <h3 class="title is-5">Emilo</h3>
                    <p>Scrum Master, PM Support and Design Support​</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Us Section -->
<section class="section has-background-dark">
    <div class="container has-text-centered">
        <h2 class="title is-3 has-text-white">Want to Learn More?</h2>
        <p class="subtitle has-text-white">If you have questions or want to get in touch, feel free to reach out to us!</p>
        <a href="mailto:contact@studiohxllow.com" class="button is-light is-large">Contact Us</a>
    </div>
</section>

{% endblock %}
